{
    "@context": "http://iiif.io/api/presentation/2/context.json",
    "@id": "{{{ presentBaseUrl }}}/{{ presentUuid }}/manifest.json",
    "@type": "sc:Manifest",
    "label": "{{ label }}",
    "sequences": [

        {
            "@id": "{{{ presentBaseUrl }}}/s/2/{{ canvasUuid }}",
            "@type": "sc:Sequence",
            "label": "{{ label }}",
            "canvases": [
                {{#items}}
                {
                    "@id": "{{{ presentBaseUrl }}}/c/2/{{ canvasUuid }}",
                    "@type": "sc:Canvas",
                    "label": "{{ label }}",
                    "thumbnail" : {
                        "@id" : "{{{ imageBaseUrl }}}/{{ image_id }}/thumbnail.{{ format }}",
                        "@type": "dctypes:Image",
                        "height": {{ thumbHeight }},
                        "width": {{ thumbWidth }}
                    },
                    "images": [
                        {
                            "@id": "{{{ presentBaseUrl }}}/c/2/{{ canvasUuid }}/ap/p",
                            "@type": "oa:Annotation",
                            "motivation": "sc:painting",
                            "resource": {
                                "@id": "{{{ imageBaseUrl }}}/{{ image_id }}{{^tile}}.{{ format }}{{/tile}}",
                                "@type": "dctypes:Image",
                                "format": "image/jpeg",
                                "height": {{ height }},
                                "width": {{ width }}
                                {{^level0}}
                                ,
                                "service": {
                                    "@context": "http://iiif.io/api/image/2/context.json",
                                    "@id": "{{{ imageBaseUrl }}}/{{ image_id }}",
                                    "profile": "http://iiif.io/api/image/2/level2.json"
                                }
                                {{/level0}}
                            },
                            "on": "{{{ presentBaseUrl }}}/c/2/{{ canvasUuid }}"
                        }
                    ],
                    "height": {{ height }},
                    "width": {{ width }}
                }{{^last}}, {{/last}}
                {{/items}}
            ]
        }
    ]
}