{
    "@context": "http://iiif.io/api/presentation/3/context.json",
    "id": "{{{ presentBaseUrl }}}/{{ presentUuid }}/manifest.json",
    "type": "Manifest",
    "label": {
        "zh-Hant": [
            "{{ label }}"
        ]
    },
    "items": [
        {{#items}}
        {
            "id": "{{{ presentBaseUrl }}}/c/3/{{ canvasUuid }}",
            "type": "Canvas",
            "label": {
                "zh-Hant": [
                    "{{ label }}"
                ]
            },
            "height": {{ height }},
            "width": {{ width }},
            {{^remote}}
            "thumbnail": [
                {
                "id": "{{{ imageBaseUrl }}}/{{ image_id }}/thumbnail.{{ format }}",
                "type": "Image",
                "format": "image/jpeg",
                "height": {{ thumbHeight }},
                "width": {{ thumbWidth }}
                }
            ],
            {{/remote}}
            "items": [
                {
                    "id": "{{{ presentBaseUrl }}}/c/3/{{ canvasUuid }}/ap/p",
                    "type": "AnnotationPage",
                    "items": [
                        {
                            "id": "{{{ presentBaseUrl }}}/c/3/{{ canvasUuid }}/ap/p/a/",
                            "type": "Annotation",
                            "motivation": "painting",
                            "body": {
                                "id": "{{{ imageBaseUrl }}}/{{ image_id }}{{^tile}}.{{ format }}{{/tile}}",
                                "type": "Image",
                                "format": "image/jpeg",
                                "height": {{ height }},
                                "width": {{ width }}
                                {{^level0}}
                                ,
                                "service": [
                                    {
                                        "id": "{{{ imageBaseUrl }}}/{{ image_id }}",
                                        "type": "ImageService3",
                                        "profile": "level2"
                                    }
                                ]
                                {{/level0}}
                            },
                            "target": "{{{ presentBaseUrl }}}/c/3/{{ canvasUuid }}"
                        }
                    ]
                }
            ]
        }{{^last}}, {{/last}}
        {{/items}}
    ]
}